<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnAlign {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: 1px dashed khaki;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="checkbox" v-model="btnColor" /><label>색상</label><br />
      <input type="checkbox" v-model="btnAlign" /><label>정렬, 크기</label
      ><br />
      <input type="checkbox" v-model="btnBorder" /><label>테두리</label><br />
      <button :class="{btnColor, btnAlign, btnBorder}">버튼</button>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const vm = Vue.createApp({
        data: () => ({
          btnColor: false,
          btnAlign: false,
          btnBorder: false,
        }),
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
